---
const {
    Titulo,
    SubTitulo,
    Descripcion,
    backgroundImage,
    tituloColor = "text-white",
    subTituloColor = "text-white/90",
    descripcionColor = "text-white/80",
    tituloBackground = "bg-primario",
} = Astro.props;
---

<div
    class="relative container mx-auto h-[30rem] bg-cover bg-center bg-no-repeat rounded-3xl overflow-hidden flex items-center justify-center shadow-xs transition-all duration-500"
    style={`background-image: url('${backgroundImage}');`}
>
    <div class="absolute inset-0 bg-black/50 backdrop-blur-sm"></div>
    <div
        class="relative z-10 text-center px-6 md:px-12 max-w-4xl space-y-5 animate-fade-in-up"
    >
        <h1
            class={`text-3xl md:text-5xl font-bold tracking-tight leading-tight rounded-xl shadow-md px-4 py-2 inline-block transition-all duration-300 transform hover:scale-105 ${tituloBackground} ${tituloColor}`}
        >
            {Titulo}
        </h1>

        <h2
            class={`text-xl md:text-2xl font-semibold transition-opacity duration-500 ${subTituloColor}`}
        >
            {SubTitulo}
        </h2>

        <p
            class={`text-base md:text-lg font-light max-w-3xl mx-auto transition-all duration-500 ${descripcionColor}`}
        >
            {Descripcion}
        </p>
    </div>
</div>
